



#finish .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-art;
	align-content: center;
	position: relative;
	padding: 10%;
	

}

.last_text {
    font-size: 25px;
	color: white;
	text-align: center;
	font-family: Raleway;
	font-weight: lighter;
	padding: 10px;
}